.chartdata{
  overflow: auto;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
  flex-wrap: wrap;

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3452b4; /* color of the scroll thumb */ /* creates padding around scroll thumb */
  }
}

app-dynamic-chart {
  overflow: auto;
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 100%;
  flex-wrap: wrap;

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3452b4; /* color of the scroll thumb */ /* creates padding around scroll thumb */
  }
}
.tableWidthSmall {
  width: auto;
}
.tableWidthBig {
  min-width: 200px;
  max-width: 200px;
}
// check3
.ng-deep #mat-tab-content-0-0 > div{
  height:auto;
}
// check3
#mat-tab-content-0-0 > div{
  height: auto;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #3452b4;
}
mat-tab-group .First-tab{
  // background-color: aqua;
  width:100%;
  height:auto !important;
}
.first-form-field:first-child{
  margin:10px 0px 0px 0px;
}



mat-tab-group .First-tab{
    // background-color: aqua;
    width:100%;
    height:auto !important;
  }
  .btn-section {
    margin-top:10px;
    margin-left: 10px;
  }
   /******Applied on all forms*********/
   .query-builder-form-field {
    width: 90% !important;
    margin-left: 5px;
  }
  .add-filter {
    scale: 0.7;
    position: fixed;
    margin-left: -90px;
  }
  .btn-section {
    margin-top:10px;
    margin-left: 10px;
  }
  ::ng-deep
    .query-builder-form-field
    .mat-form-field-flex
    .mat-form-field-infix {
    padding: 0.75em 0px !important;
  }

  ::ng-deep .query-builder-form-field .mat-form-field-label-wrapper {
    top: -1em;
  }

  div::-webkit-scrollbar {
    display: list-item;
  }
  .disableField {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
    color: #ccc;
  }
  /*********************************************/
   /*******First Section*****/
   .first-section {
    height: 10%;
    max-height: 20%;
    min-height: 45px;
    margin: 10px;
    //border: 1px solid #555;
    border: #3c5a86 1px dotted;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    //check1
    overflow-y: auto;
    .drag-area {
      width: 80%;
      min-height: 50px;
      max-height: auto;
    }
    
    .chip-box {
      width: auto;
      min-height: 20px;
      font-size: 9px;
      border: solid 1px #3452b4;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-wrap: no-wrap;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      box-sizing: border-box;
      cursor: move;
      background: white;
      flex-grow: 1;
      flex-basis: 0;
    }
    .icon-position {
      margin: 0px;
      padding: 0px;
      font-size: smaller;
    }
    .example-list {
      width: auto;
      min-height: 5px;
      margin: 4px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      background: white;
      overflow: hidden;
      cursor: move;
    }
    .drag-box {
      padding: 10px 40px;
      color: rgba(0, 0, 0, 0.87);
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .first-section #title {
    position: relative;
    top: -0.5em;
    margin-left: 1em;
    display: inline;
    background-color: white;
  }
  .first-section::-webkit-scrollbar {
    width: 4px;
  }
  .first-section::-webkit-scrollbar-thumb {
    background-color: #3452b4; /* color of the scroll thumb */ /* creates padding around scroll thumb */
  }

  /******************/

  /**********Second Section********/
  .second-section {
    //check2

    overflow-x: hidden !important;
    overflow-y: auto !important;
    max-height: 200px;
    margin: 10px;
    border: 1px solid #555;
    .delete-icon-position {
      font-size: small;
      align-items: center;
    }

    .rule-column {
      margin: 0px;
    }
    .multi-date .mat-calendar-body-cell.selected {
      background-color: red !important;
      border-radius: 50%;
    }
    .drop-calendar {
      width: 30rem;
    }

    .delete-item {
      scale: 0.7;
    }
    .second-section-mat-panel-desc {
      margin-left: 24px !important;
    }
    .mat-expansion-panel {
      //overflow: inherit !important;
      overflow: hidden;
    }
    .error-part {
      color: #d8000c;
      background-color: #ffbaba;
      //background-image: url('https://i.imgur.com/GnyDvKN.png');
    }
    //check
    // .mat-expansion-panel-body {
    //   overflow: hidden !important; // This rule fixes extra whitespace
    // }
    .mat-expansion-panel-header.mat-expanded {
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: white;
    }
    
  }
  .second-section::-webkit-scrollbar {
    width: 4px;
  }
  .second-section::-webkit-scrollbar-thumb {
    background-color: #3452b4;
  }
  /************************************/

   /**********third Section********/
   .third-section {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    max-height: 200px;
    margin: 10px;
    border: 1px solid #555;
    .delete-icon-position {
      font-size: small;
      align-items: center;
    }

    .rule-column {
      margin: 0px;
    }
    .multi-date .mat-calendar-body-cell.selected {
      background-color: red !important;
      border-radius: 50%;
    }
    .drop-calendar {
      width: 30rem;
    }

    .delete-item {
      scale: 0.7;
    }
    .third-section-mat-panel-desc {
      margin-left: 24px !important;
    }
    .mat-expansion-panel {
      //check1
      //overflow: inherit !important;
      //overflow: hidden; check1
      overflow: auto;
    }
    .error-part {
      color: #d8000c;
      background-color: #ffbaba;
      //background-image: url('https://i.imgur.com/GnyDvKN.png');
    }
    //check
    // .mat-expansion-panel-body {
    //   overflow: hidden !important; // This rule fixes extra whitespace
    // }
    .mat-expansion-panel-header.mat-expanded {
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: white;
    }
    
   
  }
  .third-section::-webkit-scrollbar {
    width: 4px;
    }
   .third-section::-webkit-scrollbar-thumb {
    background-color: #3452b4;
  }
  /***********Third Section Close (Filter)*****************************************/

  /*******Third Section***********************************/
  .example-accordion {
    display: flex;
    flex-wrap: nowrap;
    max-height: 100%;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  