<div class="top-container">
  <mat-card class="column-attribute-form-card" fxLayout="column" fxLayoutGap="25px">
  <mat-card-title><h2 fxFlex="25">Hierarchy</h2> 
    <div fxFlex="75" fxLayoutAlign = "end center" class="search-field" style="font-size: 12px">
      <mat-form-field class="query-builder-form-field"
      appearance="outline">
        <mat-label class="label-design">Search by Name or Id</mat-label>
        <input
          matInput
          type="text"
          name="search"
        />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  </mat-card-title>
  
      
  <br/>
  <!---First Box Section-->
    <div fxFlex="50%" >
      <!-- <mat-card-title class="additional-section-title">{{"Additional column" }}</mat-card-title> -->
        <form [formGroup]="setHierarchyForm" (ngSubmit)="saveHierarchy(setHierarchyForm.value)">
        <div fxLayout="row" fxLayoutGap="5px" class="card-container">
            <!--Name Field -->

  <div fxFlex="25" class="remove-bottom-margin hirerchyType">
    <mat-form-field class="hirarch-form-field"  appearance="outline">
      <mat-label>Select Display Name</mat-label>
      <mat-select formControlName="selectedDisplayName">

        <mat-option *ngFor="let item of hierarchyColumns" value="{{item}}">{{item}}</mat-option>
      </mat-select>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="hasError('selectedDisplayName','required')">You must make a selection</mat-error>
    </mat-form-field>
    </div> 
    <div fxFlex="25" class="remove-bottom-margin hirerchyType">
      <mat-form-field class="hirarch-form-field"  appearance="outline">
        <mat-label>Select View Type</mat-label>
        <mat-select formControlName="selectedViewType">
  
          <mat-option value="{{'Left to Right'}}">{{'Left to Right'}}</mat-option>
          <mat-option value="{{'Top to Bottom'}}">{{'Top to Bottom'}}</mat-option>
        </mat-select>
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="hasError('selectedViewType','required')">You must make a selection</mat-error>
      </mat-form-field>
      </div> 
  <div fxFlex="25"  fxLayoutAlign = "start center">
    <button class="btn-space" color="primary" mat-raised-button type="submit">Execute</button>
  </div>

  </div>
</form>
 
  </div>

  <div fxFlex="50%" [fxHide]="!isTreeView">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes-->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf-->
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes-->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        {{node.name}}
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror icon-position">
            {{treeControl.isExpanded(node) ? 'minimize' : 'add'}}
          </mat-icon>
        </button>
      </mat-tree-node>
    </mat-tree>
  </div>
</mat-card>
  </div>
  <!-------------------------------------->
