// .close-button {
//     position: absolute;
//     top: 83px;
//     right: 395px;
//     background-color: transparent;
//     border: none;
//     cursor: pointer;
//   }
//   .canvas-container {
//     width: 100%;
//     height: 100%;
//     margin: 10px;
  
  .chart-canvas {
    display: inline!important;
    width: 80% !important;
    height: 60% !important;
    border: 2px solid gray;
  }
// }